# Buraya Back4App Dashboard'dan alacağınız Application ID bilgisini girin
BACK4APP_APP_ID=YOUR_APPLICATION_ID_HERE

# Buraya Back4App Dashboard'dan alacağınız REST API Key bilgisini girin
BACK4APP_API_KEY=YOUR_REST_API_KEY_HERE
